{% extends "Base.html" %}
{% block title %}Eventos{% endblock %}

{% block content %}
    {% include 'Barra.html' %}
    <h2>Eventos</h2>
    {% for evento in events %}
        <ul>
            <li>
                <p>{{ evento.id }}</p>
                <p>{{ evento.title }}</p>
                <p>{{ evento.description }}</p>
                <p>{{ evento.date }}</p>
                <p>{{ evento.time }}</p>
                <p>{{ evento.location }}</p>
                <p>{{ evento.category }}</p>
            </li>
        </ul>   
    {% endfor %}

    <h2>Usuarios</h2>
    {% for usuario in usuarios %}
        <ul>
            <li>
                <p>{{ usuario.id }}</p>
                <p>{{ usuario.nombre }}</p>
                <p>{{ usuario.email }}</p>
            </li>
        </ul>
    {% endfor %}

{% endblock %}
